{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" media="screen and (max-width: 600px)" href='{% static "login.css" %}'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل دخول</title>
</head>
<body>

<form class="form" method="POST" action="{% url 'login' %}">
	{% csrf_token %}
	{{form}}
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<img src=' {% static "mobile-password-forgot.png" %}'>
    <button class="button" type="submit">Sign In</button>
    <a><p class="p">Don't have an account? <a  href="{% url 'register' %}"><span class="span">Sign Up</span></a></a>
</form>
</body>
</html>