<!DOCTYPE html>
<html lang="ar">
<head>
    <link href="https://db.onlinewebfonts.com/c/0a45bafca6581d7ffddd37c8ec705fdd?family=Sky+Bold" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="/website/css/Homepage/iphone/Media-phone{600px}.css">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="/website/css/Homepage/iphone/Media-phone{600px}PART2.css">
    <link rel="stylesheet" media="screen and (min-width: 768px)" href="Media-phone{768px}.css">
    <link rel="stylesheet" media="screen and (min-width: 768px)" href="Media-phone{768px}PART2.css">
    <link rel="stylesheet" media="screen and (min-width: 992px)" href="big-size/Media-phone{992px}.css">
    <link rel="stylesheet" media="screen and (min-width: 992px)" href="big-size/Media-phone{992px}PART2.css">
    <link rel="stylesheet" media="screen and (min-width: 1440px)" href="Media-phone{1440px}.css">
    <title>OSQ TEAM</title>
</head>
<body>
    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a href="Firstsection.html">قسم الادوات</a></li>
            <li><a href="#">قسم التاني</a></li>
            </ul>
        <ul>
            <div class="myacount" onclick="document.location = 'Purchase.html'"><img src="/website/html/Homepage/img/user-2.png"></div>
            <div class="caret-shope" ><img src="/website/html/Homepage/img/delete.png"></div>
        <li><a href="Firstsection.html"> </a></li>
        <li><a href="#"></a></li>
        <li onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>
    <div>
        <!-- mo vid -->
        <div class="mo-vid"><img src=""></div>
    </div>
    <div class="anmithon-icon">
        <div class="line1"></div>
        <img src="/website/html/Homepage/img/exploit_12027971.png">
        <div class="line2"></div>
        <h4>اكتشف ادوات فريقنا</h4>
    </div>
    <div class="anmithon-icon2">
        <div class="line1"></div>
        <img src="/website/html/Homepage/img/search_14959481.png">
        <div class="line2"></div>
        <h4>اكتشاف ثغرات المواقع</h4>
    </div>
    <!-- product -->
    <div>
        <div class="prodct">
            <div class="img-product"></div>
            <p>هنا تكتب اسم المنتج</p>
            <button id="loadingButton" onclick="document.location = 'Purchase.html'" >
                <div class="i-num1"><i class="fas fa-shopping-cart"></i></i></div>
                <h1>!</h1>
                <p>الشراء الان</p>
            </button>
            <div class="price"><p>AED 20</p></div>
        </div>
        <!-- product -->
        <div class="prodct2">
            <div class="img-product"></div>
            <p>هنا تكتب اسم المنتج</p>
            <button onclick="document.location = 'Purchase.html'">
                <div class="i-num1"><i class="fas fa-shopping-cart"></i></i></div>
                <h1>!</h1>
                <p>الشراء الان</p>
            </button>
            <div class="price2"><p>AED 20</p></div>
        </div>
    </div>
    <div class="usb-3d"><img src=""></div>
    <!-- product2 -->
    <div>
        <div class="prodct">
            <div class="img-product"></div>
            <p>هنا تكتب اسم المنتج</p>
            <button onclick="document.location = 'Purchase.html'">
                <div class="i-num1"><i class="fas fa-shopping-cart"></i></i></div>
                <h1>!</h1>
                <p>الشراء الان</p>
            </button>
            <div class="price"><p>AED 20</p></div>
        </div>
        <!-- product -->
        <div class="prodct2">
            <div class="img-product"></div>
            <p>هنا تكتب اسم المنتج</p>
            <button onclick="document.location = 'Purchase.html'">
                <div class="i-num2"><i class="fas fa-shopping-cart"></i></i></div>
                <h1>!</h1>
                <p>الشراء الان</p>
            </button>
            <div class="price2"><p>AED 20</p></div>
        </div>
    </div>
    <!-- end section -->
     <div class="end">
        <div class="end-section">
            <div class="text-1">
            <h1 class="h11">!</h1>
            <p>OSQ STORE</p>
            <p>نقوم هنا ب وضع كلام عن المتجر</p>
            </div>
            </div>
            <div class="icons">
                <h3>خدمه العملاء</h3>
                <div class="cubes">
                <div class="cube">
                <div class="teleicon">
                    <p>!</p>
                    <i class="fa-brands fa-telegram"></i>
                </div>
                </div>
                <div class="cube2">
                    <p>!</p>
                    <div class="instagram"><i class="fa-brands fa-instagram"></i></div>
                </div>
                <div class="cube3">
                    <p>!</p>
                    <div class="youtube"><i class="fa-brands fa-youtube"></i></div>
                </div>
            </div>
            <div class="hr"></div>
            <div class="payment2">
                <p>طرق الدفع</p>
                <div class="visa-cube"><img src="visa1.png"></div>
                <div class="paypal-cube"><img src="196566.png"></div>
                <div class="binninc-cube"><img src="Binance-0e4c4bfb014e4d9ca8f0b6e11c9db562.jpg.png"></div>
            </div>
        </div>
        </div>
     </div>
    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }
        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>
</body>
</html>